.dashboard-modal-heading {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.dashboard-modal-text {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.modal-button {
    text-align: center;
}