.navbar {
    background-color: #FDF8E5;
    font-family: 'Quicksand', sans-serif;
}

.container-fluid {
    background-color: #FDF8E5;
}

.CULogo {
    width: 75px;
    height: 75px;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.cu-about {
    padding: 5px;
    border-radius: 5px;
}

.nav-link {
    font-weight: bold;
}

.nav-item {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: #f1e189;
}

.logout-btn {
    color: black;
    background-color: #b8de6f;
    font-family: 'Quicksand', sans-serif;
    width: 100px;
    
}

.logout-btn:hover {
    background-color: #A8DDE2;
}

