.syllabus-heading {
    font-family: 'Quicksand', sans-serif;
	color: white;
    margin-top: 10px;
}

.overview-btn {
	background-color: #f1e189;
	border-radius: 3px;
	width: 250px;
	cursor: pointer;
	font-size: 18px;
	color: rgb(50, 50, 50);
	opacity: .9;
	font-family: 'Quicksand', sans-serif;
}

.graphic {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    margin-bottom: 30px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

h3 {
    font-size: 180%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
	color: white;
}

.module {
    text-align: left;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

.img_container {
    display: flex;
    align-content: center;
    margin: auto;
}

.container_syllabus {
    margin: auto;
    width: 50%
}

.row {
    margin-top: 30px;
}

.hide {
    display: none;
}

body {
    overflow-x:hidden;
}

.syl-nav-btn {
    display: inline;
    justify-content: center;
    margin: auto;
    color: black;
    background-color: #b8de6f;
    font-family: 'Quicksand', sans-serif;
    width: 200px;
}

.syl-nav-btn:hover {
    background-color: #f1e189;
}

.module-btn {
    display: block;
    justify-content: center;
    margin: auto;
    color: black;
    background-color: #b8de6f;
    font-family: 'Quicksand', sans-serif;
    width: 200px;
}

.module-btn:hover {
    background-color: #f1e189;
}

.button-div {
    justify-content: center;
    padding: 50px;
    display: flex;
    margin: auto;
    max-width: 90%;
}