.question-section {
    font-family: 'Quicksand', sans-serif;
    font-size: 180%;
    display: block;
    margin: auto;
}

.question-count, .question-text {
    display: flex;
    margin: auto;
    justify-content: center;
    margin: 20px;
}

.answer-section {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 40px;
}

#answer-btn {
    margin: 0px 25px 0px 25px;
    display: inline;
    justify-content: center;
    color: black;
    background-color: #b8de6f;
    font-family: 'Quicksand', sans-serif;
    width: 200px;
}

#answer-btn:hover {
    background-color: #f1e189;
}